.cards{
    position: relative;
    background: #000014;
    color: aliceblue;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* .join {
    position: relative;
    border: 1px solid rgb(20, 112, 255);
    background-color: rgb(20, 112, 255);
    color: white;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0.625rem 1.25rem;
    font-size: 0.9375rem;
    line-height: 1.125;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

/* .cards::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
                transparent,
                rgba(255, 255, 255, 0.378),
                transparent);
    transition: all 0.6s ease;
}

.cards:hover::before{
    left: 100%;
} */

.cards:hover{
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 8px #5c6970;
}



.cards h1{
    font-family: "Gorditas", serif;
    text-shadow: 2px 2px #6e4949;
}

/* .cards button{
    position:absolute;
    right: 0;
    top: 0;
    padding: 10px ;
    margin: 50px;
    
} */

.showCase{
    width: 40%;
    height: 30%;
    font-size: 140%;
    background: rgb(254 240 138);
    padding: 5px 10px;
    margin: 5px 0px;
    color: #000014;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #000000);
    box-shadow: 0 0 5px rgb(254 240 138), 0 0 15px rgb(254 240 138), 0 0 25px rgb(254 240 138), 0 0 100px rgb(254 240 138);
    font-weight: bolder;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    /* font-size: larger; */
}