.cards{
    position: relative;
    background: #000014;
    color: aliceblue;
}

.cards h1{
    font-family: "Gorditas", serif;
    text-shadow: 2px 2px #6e4949;
}

/* .cards button{
    position:absolute;
    right: 0;
    top: 0;
    padding: 10px ;
    margin: 50px;
    
} */